﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!string.IsNullOrEmpty(@ViewBag.Complete))
    {
        <h1 class="display-4">
            @ViewBag.Complete
        </h1>
    }
    <p>
        @using (Html.BeginForm("RunAutomation", "Home", FormMethod.Post))
        {
            <div class="col-sm-12 col-md-12 col-lg-12 align-content-center" style="margin: 0 auto">
                <input type="submit" value="Run Automation" class="btn btn-primary"/>
            </div>
        }
    </p>
</div>
